/********************************************
Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  position: relative;
  font-family: "aktiv-grotesk-std", sans-serif;
  background: #fdfdf9;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.wrapper {
  text-align: center;
  width:100%;
}

a {
  color: #F6638B;
  text-decoration: none;
}

a:visited{
  color:#000;
}

a:hover {
  color: #83cdb9;
}
#logo {
  height: 95px;
  width: 274px;
  margin-top: 10px;
}
.topnav {
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
  background: #fdfdf9;
  box-shadow: 0 2px 3px 0 rgba(158,158,158,.15);

}

.card-wrapper {
  margin-bottom: 10%;
}

.card {
  padding: 10px;
/* background-image: url("images/tarotcardspread.jpg"); */
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 547px;
/*  border: solid black 2px;
*/  margin: 0 auto;
}

.back img, .front img {
  width: 320px;
  height: 527px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}

.name p {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #83cdb9;
  letter-spacing: 2px;
  padding-top: 10px;
}

.description p{
  width: 60%;
  display: inline-block;
  line-height: 1.4em;
  padding: 10px 0;
}

.fateButtonHover {
  display:none;
}

.fateButton:focus {
  outline: none;
}

.rotate {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}


.reversed {
  font-weight: bold;
}

footer {
  height: 100px;
/*  border-top: 1px solid #DDD;
*/  margin: 0 10px;
  box-shadow: 2px 0 3px 0 rgba(158,158,158,.15);

}

footer p {
  font-size: 13px;
  text-align: left;
}

/*flexbox sticky footer*/

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}


@media (min-width: 768px) {
  .card-wrapper {

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
        -ms-flex-pack: space-around;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }

  .card {
    width: 25%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
            margin: 0;
  }

  .fateButton {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
            margin: 0;
            width:20%;

  }

  .description-wrapper {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
            width: 30%;
  }
}
