



.default {
  background-image: url(images/default1.png);
  height: 400px;
  width: 200px;
}

img {
  width: 200px;
  height: 400px
}

.rotate {
  -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
